<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mobishift.cordova.plugins.amapnavigation" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AMapNavigation</name>
    <js-module name="AMapNavigation" src="www/AMapNavigation.js">
        <clobbers target="cordova.plugins.AMapNavigation"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AMapNavigation">
                <param name="ios-package" value="AMapNavigation"/>
            </feature>
        </config-file>
        <source-file src="src/ios/AMapNavigation.m"/>
        <source-file src="src/ios/AMapNaviKit.framework" framework="true"/>

        <resource-file src="src/ios/AMapNaviKit.framework/Resouces/AMap.bundle"/>
        <resource-file src="src/ios/AMapNaviKit.framework/Resouces/AMapNavi.bundle"/>

        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="AddressBook.framework" />
        <framework src="libz.dylib" />
        <framework src="libstdc++6.09.dylib" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AMapNavigation">
                <param name="android-package" value="com.mobishift.cordova.plugins.amapnavigation.AMapNavigation"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/AMapNavigation.java" target-dir="src/com/mobishift/cordova/plugins/amapnavigation/AMapNavigation"/>
    </platform>
</plugin>